<mat-card class="cardWithShadow m-t-16">
    <mat-card-content>
      <div class="d-flex">
        <div class="m-r-auto m-b-8">
          <mat-card-title>Productos agregados</mat-card-title>
          <mat-card-subtitle>Lista de productos del pedido</mat-card-subtitle>
        </div>
      </div>
  
      <div class="table-responsive">
        <table class="w-100">
          <thead>
            <tr>
              <th class="f-w-600 f-s-14">Nombre</th>
              <th class="f-w-600 f-s-14">Cantidad</th>
              <th class="f-w-600 f-s-14">Precio unitario</th>
              <th class="f-w-600 f-s-14">Subtotal</th>
              <!-- <th class="f-w-600 f-s-14">Precio Unitario</th>
              <th class="f-w-600 f-s-14">Subtotal</th> -->
              <th class="f-w-600 f-s-14">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let producto of productos">
              <td>{{ producto.nombre }}</td>
              <td>{{ producto.cantidad }}</td>
              <td>{{ producto.precio | number: '1.0-0' }}</td>
              <td>{{ producto.subtotal | number: '1.0-0' }}</td>
              <!-- <td>$ {{ producto.precioUnitario | number: '1.0-0' }}</td>
              <td>$ {{ (producto.precioUnitario * producto.cantidad) | number: '1.0-0' }}</td> -->
              <td>
                <button mat-icon-button color="warn" (click)="eliminarProducto(producto)">
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </mat-card-content>
  </mat-card>
  