<mat-card class="cardWithShadow theme-card">
    <mat-card-header>
      <mat-card-title class="m-b-0">Modificar usuario</mat-card-title>
      <div class="m-t-12">
        <button mat-flat-button color="primary" class="m-r-8" (click)="guardarUsuarioInfo()">Guardar</button>
      </div>
    </mat-card-header>
    <mat-card-content class="b-t-1">
      <form [formGroup]="form">
        <div class="row">
          <!-- Campo Nombre -->
          <div class="col-lg-6 m-b-16">
            <mat-label class="f-w-600 m-b-8 d-block">Nombre</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput placeholder="Nombre del usuario" formControlName="nombre" />
            </mat-form-field>
          </div>
  
          <!-- Campo Email -->
          <div class="col-lg-6 m-b-16">
            <mat-label class="f-w-600 m-b-8 d-block">Email</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput placeholder="Correo electrónico" formControlName="email" />
            </mat-form-field>
          </div>
  
          <!-- Campo Estado (solo visible en edición) -->
          <div class="col-lg-6 m-b-16" *ngIf="editMode">
            <mat-label class="f-w-600 m-b-8 d-block">Estado</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <mat-select formControlName="estado">
                <mat-option value="Activo">Activo</mat-option>
                <mat-option value="Inactivo">Inactivo</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
  